<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link "    routerLink="dept">Department</a>
      </li>

      <li class="nav-item">
        <a class="nav-link "     routerLink="login">LogIn</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " routerLink="staff/45/abc">Teachers Staff</a>
      </li>

      <!-- <li class="nav-item">
       <a class="nav-link " (click)="onClickOfStud()">Students Info</a>
      </li>

      <li class="nav-item">
        <a class="nav-link " (click)="onClickOfAdmsn()">Admissions</a>
      </li> -->

      <li class="nav-item"> 
        <a class="nav-link "    routerLink="Parent-Child-InerCommu">Data Comunication</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="compA">Comp A</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="compB">Comp B</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>